.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  /* Adiciona espaço entre os itens */
}

.filterContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  max-width: 400px;
  /* Limita o tamanho da caixa de pesquisa */
  width: 100%;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  /* Permite que os botões quebrem linha em telas menores */
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100%;
}

.input input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
  /* Ajuste para melhor usabilidade */
}

.input .icon {
  margin-left: -30px;
  cursor: pointer;
  color: #0059ff;
}

.button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0059ff;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0044cc;
}

/* Responsividade */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    gap: 20px;
  }

  .buttonContainer {
    width: 100%;
    /* Ocupa 100% da largura disponível em telas menores */
    justify-content: center;
    gap: 10px;
  }

  .button {
    width: 100%;
    /* Botões ocupam a largura total em telas pequenas */
    padding: 15px;
    font-size: 18px;
  }

  .filterContainer {
    width: 100%;
    /* Filtro de pesquisa ocupa 100% da largura disponível */
    max-width: 100%;
  }

  .input {
    font-size: 16px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .menu {
    gap: 10px;
  }

  .button {
    font-size: 16px;
    /* Diminui o tamanho da fonte dos botões em telas muito pequenas */
    padding: 12px;
  }

  .input {
    font-size: 14px;
    padding: 8px;
  }

  .buttonContainer {
    flex-direction: column;
    /* Botões empilhados em telas menores */
    gap: 10px;
  }
}